Main thread: [url={{ osu_url }}/community/forums/topics/((###MAIN_THREAD_ID_HERE###))]{{ main_thread_title }}[/url]

[b][url={{ osu_url }}/beatmapsets/{{ beatmapset.id }}#{{ link_mode }}]{{ html.safe(beatmapset.song) }}[/url] by {{ beatmapset.creators }}[/b]
[i]Nominated by {{ captains }}[/i]
{{ html.safe(beatmapset.extra_metadata) }}

[b]Captain's description (by [url={{ osu_url }}/users/{{author_id}}]{{author}}[/url]):[/b]
{{ description }}

Please use this thread to discuss why you believe this map should or should not enter the Loved category!